body:after { box-sizing: border-box; position: fixed; display: block; bottom: 10px; right: 10px; padding: 5px 28px 5px 20px; font-size: 12px; color: #777; border-radius: 3px; background-color: #f7f7f7; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); z-index: 100000; }

.g { box-sizing: border-box; display: flex; margin-left: -12px; flex-direction: row; flex: 0 1 auto; flex-wrap: wrap; }

.g > * { box-sizing: border-box; padding-left: 12px; position: relative; }

.g--no-gutter { margin-left: 0; }

.g--no-gutter > * { padding-left: 0; }

.g--v-top { align-items: flex-start; }

.g--v-center { align-items: center; }

.g--v-bottom { align-items: flex-end; }

.g--v-stretch { align-items: stretch; }

.g--v-baseline { align-items: stretch; }

.g--align-start { justify-content: flex-start; }

.g--align-end { justify-content: flex-end; }

.g--align-center { justify-content: center; }

.g--align-space-between { justify-content: space-between; }

.g--align-space-around { justify-content: space-around; }

.gi--fit { flex: 1 0; }

.gi--flex { display: flex; }

.gi--1-12 { flex-basis: 8.33333%; max-width: 8.33333%; }

.gi--1-6, .gi--2-12 { flex-basis: 16.66667%; max-width: 16.66667%; }

.gi--1-4, .gi--3-12 { flex-basis: 25%; max-width: 25%; }

.gi--1-3, .gi--2-6, .gi--4-12 { flex-basis: 33.33333%; max-width: 33.33333%; }

.gi--5-12 { flex-basis: 41.66667%; max-width: 41.66667%; }

.gi--1-2, .gi--2-4, .gi--3-6, .gi--6-12 { flex-basis: 50%; max-width: 50%; }

.gi--7-12 { flex-basis: 58.33333%; max-width: 58.33333%; }

.gi--2-3, .gi--4-6, .gi--8-12 { flex-basis: 66.66667%; max-width: 66.66667%; }

.gi--3-4, .gi--9-12 { flex-basis: 75%; max-width: 75%; }

.gi--5-6, .gi--10-12 { flex-basis: 83.33333%; max-width: 83.33333%; }

.gi--11-12 { flex-basis: 91.66667%; max-width: 91.66667%; }

.gi--1-1, .gi--2-2, .gi--3-3, .gi--4-4, .gi--6-6, .gi--12-12 { flex-basis: 100%; max-width: 100%; }

.p--1-12 { margin-left: 8.33333%; }

.p--1-6, .p--2-12 { margin-left: 16.66667%; }

.p--1-4, .p--3-12 { margin-left: 25%; }

.p--1-3, .p--2-6, .p--4-12 { margin-left: 33.33333%; }

.p--5-12 { margin-left: 41.66667%; }

.p--1-2, .p--2-4, .p--3-6, .p--6-12 { margin-left: 50%; }

.p--7-12 { margin-left: 58.33333%; }

.p--2-3, .p--4-6, .p--8-12 { margin-left: 66.66667%; }

.p--3-4, .p--9-12 { margin-left: 75%; }

.p--5-6, .p--10-12 { margin-left: 83.33333%; }

.p--11-12 { margin-left: 91.66667%; }

/*@if($omega){ @include grid-omega($item_prefix, $suffix); }*/
@media (min-width: 800px) { .g { box-sizing: border-box; display: flex; margin-left: -24px; flex-direction: row; flex: 0 1 auto; flex-wrap: wrap; }
  .g > * { box-sizing: border-box; padding-left: 24px; position: relative; }
  .g--no-gutter--m { margin-left: 0; }
  .g--no-gutter--m > * { padding-left: 0; }
  .g--v-top--m { align-items: flex-start; }
  .g--v-center--m { align-items: center; }
  .g--v-bottom--m { align-items: flex-end; }
  .g--v-stretch--m { align-items: stretch; }
  .g--v-baseline--m { align-items: stretch; }
  .g--align-start--m { justify-content: flex-start; }
  .g--align-end--m { justify-content: flex-end; }
  .g--align-center--m { justify-content: center; }
  .g--align-space-between--m { justify-content: space-between; }
  .g--align-space-around--m { justify-content: space-around; }
  .gi--fit--m { flex: 1 0; }
  .gi--flex--m { display: flex; }
  .gi--1-12--m { flex-basis: 8.33333%; max-width: 8.33333%; }
  .gi--1-6--m, .gi--2-12--m { flex-basis: 16.66667%; max-width: 16.66667%; }
  .gi--1-4--m, .gi--3-12--m { flex-basis: 25%; max-width: 25%; }
  .gi--1-3--m, .gi--2-6--m, .gi--4-12--m { flex-basis: 33.33333%; max-width: 33.33333%; }
  .gi--5-12--m { flex-basis: 41.66667%; max-width: 41.66667%; }
  .gi--1-2--m, .gi--2-4--m, .gi--3-6--m, .gi--6-12--m { flex-basis: 50%; max-width: 50%; }
  .gi--7-12--m { flex-basis: 58.33333%; max-width: 58.33333%; }
  .gi--2-3--m, .gi--4-6--m, .gi--8-12--m { flex-basis: 66.66667%; max-width: 66.66667%; }
  .gi--3-4--m, .gi--9-12--m { flex-basis: 75%; max-width: 75%; }
  .gi--5-6--m, .gi--10-12--m { flex-basis: 83.33333%; max-width: 83.33333%; }
  .gi--11-12--m { flex-basis: 91.66667%; max-width: 91.66667%; }
  .gi--1-1--m, .gi--2-2--m, .gi--3-3--m, .gi--4-4--m, .gi--6-6--m, .gi--12-12--m { flex-basis: 100%; max-width: 100%; }
  .p--1-12--m { margin-left: 8.33333%; }
  .p--1-6--m, .p--2-12--m { margin-left: 16.66667%; }
  .p--1-4--m, .p--3-12--m { margin-left: 25%; }
  .p--1-3--m, .p--2-6--m, .p--4-12--m { margin-left: 33.33333%; }
  .p--5-12--m { margin-left: 41.66667%; }
  .p--1-2--m, .p--2-4--m, .p--3-6--m, .p--6-12--m { margin-left: 50%; }
  .p--7-12--m { margin-left: 58.33333%; }
  .p--2-3--m, .p--4-6--m, .p--8-12--m { margin-left: 66.66667%; }
  .p--3-4--m, .p--9-12--m { margin-left: 75%; }
  .p--5-6--m, .p--10-12--m { margin-left: 83.33333%; }
  .p--11-12--m { margin-left: 91.66667%; }
  /*@if($omega){ @include grid-omega($item_prefix, $suffix); }*/ }

@media (min-width: 1100px) { .g { box-sizing: border-box; display: flex; margin-left: -24px; flex-direction: row; flex: 0 1 auto; flex-wrap: wrap; }
  .g > * { box-sizing: border-box; padding-left: 24px; position: relative; }
  .g--no-gutter--l { margin-left: 0; }
  .g--no-gutter--l > * { padding-left: 0; }
  .g--v-top--l { align-items: flex-start; }
  .g--v-center--l { align-items: center; }
  .g--v-bottom--l { align-items: flex-end; }
  .g--v-stretch--l { align-items: stretch; }
  .g--v-baseline--l { align-items: stretch; }
  .g--align-start--l { justify-content: flex-start; }
  .g--align-end--l { justify-content: flex-end; }
  .g--align-center--l { justify-content: center; }
  .g--align-space-between--l { justify-content: space-between; }
  .g--align-space-around--l { justify-content: space-around; }
  .gi--fit--l { flex: 1 0; }
  .gi--flex--l { display: flex; }
  .gi--1-12--l { flex-basis: 8.33333%; max-width: 8.33333%; }
  .gi--1-6--l, .gi--2-12--l { flex-basis: 16.66667%; max-width: 16.66667%; }
  .gi--1-4--l, .gi--3-12--l { flex-basis: 25%; max-width: 25%; }
  .gi--1-3--l, .gi--2-6--l, .gi--4-12--l { flex-basis: 33.33333%; max-width: 33.33333%; }
  .gi--5-12--l { flex-basis: 41.66667%; max-width: 41.66667%; }
  .gi--1-2--l, .gi--2-4--l, .gi--3-6--l, .gi--6-12--l { flex-basis: 50%; max-width: 50%; }
  .gi--7-12--l { flex-basis: 58.33333%; max-width: 58.33333%; }
  .gi--2-3--l, .gi--4-6--l, .gi--8-12--l { flex-basis: 66.66667%; max-width: 66.66667%; }
  .gi--3-4--l, .gi--9-12--l { flex-basis: 75%; max-width: 75%; }
  .gi--5-6--l, .gi--10-12--l { flex-basis: 83.33333%; max-width: 83.33333%; }
  .gi--11-12--l { flex-basis: 91.66667%; max-width: 91.66667%; }
  .gi--1-1--l, .gi--2-2--l, .gi--3-3--l, .gi--4-4--l, .gi--6-6--l, .gi--12-12--l { flex-basis: 100%; max-width: 100%; }
  .p--1-12--l { margin-left: 8.33333%; }
  .p--1-6--l, .p--2-12--l { margin-left: 16.66667%; }
  .p--1-4--l, .p--3-12--l { margin-left: 25%; }
  .p--1-3--l, .p--2-6--l, .p--4-12--l { margin-left: 33.33333%; }
  .p--5-12--l { margin-left: 41.66667%; }
  .p--1-2--l, .p--2-4--l, .p--3-6--l, .p--6-12--l { margin-left: 50%; }
  .p--7-12--l { margin-left: 58.33333%; }
  .p--2-3--l, .p--4-6--l, .p--8-12--l { margin-left: 66.66667%; }
  .p--3-4--l, .p--9-12--l { margin-left: 75%; }
  .p--5-6--l, .p--10-12--l { margin-left: 83.33333%; }
  .p--11-12--l { margin-left: 91.66667%; }
  /*@if($omega){ @include grid-omega($item_prefix, $suffix); }*/ }

.c-white { color: #fff; }

.c-grey { color: #ccc; }

.c-black { color: #000; }

.c-red { color: #ee3124; }

.c-orange { color: #ee6724; }

.c-yellow { color: #ecee24; }

.c-green { color: #5eba2c; }

.c-blue { color: #1486c7; }

.c-indigo { color: #273aad; }

.c-violet { color: #4c2cb3; }

.c-brand-grey { color: #ebedef; }

.c-brand-red { color: #f96869; }

.c-brand-blue { color: #062442; }

.bg-white { background-color: #fff; }

.bg-grey { background-color: #ccc; }

.bg-black { background-color: #000; }

.bg-red { background-color: #ee3124; }

.bg-orange { background-color: #ee6724; }

.bg-yellow { background-color: #ecee24; }

.bg-green { background-color: #5eba2c; }

.bg-blue { background-color: #1486c7; }

.bg-indigo { background-color: #273aad; }

.bg-violet { background-color: #4c2cb3; }

.bg-brand-grey { background-color: #ebedef; }

.bg-brand-red { background-color: #f96869; }

.bg-brand-blue { background-color: #062442; }

.bd-white { border-color: #fff; }

.bd-grey { border-color: #ccc; }

.bd-black { border-color: #000; }

.bd-red { border-color: #ee3124; }

.bd-orange { border-color: #ee6724; }

.bd-yellow { border-color: #ecee24; }

.bd-green { border-color: #5eba2c; }

.bd-blue { border-color: #1486c7; }

.bd-indigo { border-color: #273aad; }

.bd-violet { border-color: #4c2cb3; }

.bd-brand-grey { border-color: #ebedef; }

.bd-brand-red { border-color: #f96869; }

.bd-brand-blue { border-color: #062442; }

@media (min-width: 800px) { .c-white-m { color: #fff; }
  .c-grey-m { color: #ccc; }
  .c-black-m { color: #000; }
  .c-red-m { color: #ee3124; }
  .c-orange-m { color: #ee6724; }
  .c-yellow-m { color: #ecee24; }
  .c-green-m { color: #5eba2c; }
  .c-blue-m { color: #1486c7; }
  .c-indigo-m { color: #273aad; }
  .c-violet-m { color: #4c2cb3; }
  .c-brand-grey-m { color: #ebedef; }
  .c-brand-red-m { color: #f96869; }
  .c-brand-blue-m { color: #062442; }
  .bg-white-m { background-color: #fff; }
  .bg-grey-m { background-color: #ccc; }
  .bg-black-m { background-color: #000; }
  .bg-red-m { background-color: #ee3124; }
  .bg-orange-m { background-color: #ee6724; }
  .bg-yellow-m { background-color: #ecee24; }
  .bg-green-m { background-color: #5eba2c; }
  .bg-blue-m { background-color: #1486c7; }
  .bg-indigo-m { background-color: #273aad; }
  .bg-violet-m { background-color: #4c2cb3; }
  .bg-brand-grey-m { background-color: #ebedef; }
  .bg-brand-red-m { background-color: #f96869; }
  .bg-brand-blue-m { background-color: #062442; }
  .bd-white-m { border-color: #fff; }
  .bd-grey-m { border-color: #ccc; }
  .bd-black-m { border-color: #000; }
  .bd-red-m { border-color: #ee3124; }
  .bd-orange-m { border-color: #ee6724; }
  .bd-yellow-m { border-color: #ecee24; }
  .bd-green-m { border-color: #5eba2c; }
  .bd-blue-m { border-color: #1486c7; }
  .bd-indigo-m { border-color: #273aad; }
  .bd-violet-m { border-color: #4c2cb3; }
  .bd-brand-grey-m { border-color: #ebedef; }
  .bd-brand-red-m { border-color: #f96869; }
  .bd-brand-blue-m { border-color: #062442; } }

@media (min-width: 1000px) { .c-white-l { color: #fff; }
  .c-grey-l { color: #ccc; }
  .c-black-l { color: #000; }
  .c-red-l { color: #ee3124; }
  .c-orange-l { color: #ee6724; }
  .c-yellow-l { color: #ecee24; }
  .c-green-l { color: #5eba2c; }
  .c-blue-l { color: #1486c7; }
  .c-indigo-l { color: #273aad; }
  .c-violet-l { color: #4c2cb3; }
  .c-brand-grey-l { color: #ebedef; }
  .c-brand-red-l { color: #f96869; }
  .c-brand-blue-l { color: #062442; }
  .bg-white-l { background-color: #fff; }
  .bg-grey-l { background-color: #ccc; }
  .bg-black-l { background-color: #000; }
  .bg-red-l { background-color: #ee3124; }
  .bg-orange-l { background-color: #ee6724; }
  .bg-yellow-l { background-color: #ecee24; }
  .bg-green-l { background-color: #5eba2c; }
  .bg-blue-l { background-color: #1486c7; }
  .bg-indigo-l { background-color: #273aad; }
  .bg-violet-l { background-color: #4c2cb3; }
  .bg-brand-grey-l { background-color: #ebedef; }
  .bg-brand-red-l { background-color: #f96869; }
  .bg-brand-blue-l { background-color: #062442; }
  .bd-white-l { border-color: #fff; }
  .bd-grey-l { border-color: #ccc; }
  .bd-black-l { border-color: #000; }
  .bd-red-l { border-color: #ee3124; }
  .bd-orange-l { border-color: #ee6724; }
  .bd-yellow-l { border-color: #ecee24; }
  .bd-green-l { border-color: #5eba2c; }
  .bd-blue-l { border-color: #1486c7; }
  .bd-indigo-l { border-color: #273aad; }
  .bd-violet-l { border-color: #4c2cb3; }
  .bd-brand-grey-l { border-color: #ebedef; }
  .bd-brand-red-l { border-color: #f96869; }
  .bd-brand-blue-l { border-color: #062442; } }

.bg-lighten-1 { background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); }

.bg-lighten-2 { background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }

.bg-lighten-3 { background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)); }

.bg-lighten-4 { background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); }

.bg-darken-1 { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); }

.bg-darken-2 { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }

.bg-darken-3 { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }

.bg-darken-4 { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); }

@media (min-width: 800px) { .bg-lighten-1-m { background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); }
  .bg-lighten-2-m { background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
  .bg-lighten-3-m { background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)); }
  .bg-lighten-4-m { background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); }
  .bg-darken-1 { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); }
  .bg-darken-2 { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
  .bg-darken-3 { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  .bg-darken-4 { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); } }

@media (min-width: 1000px) { .bg-lighten-1-l { background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); }
  .bg-lighten-2-l { background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)); }
  .bg-lighten-3-l { background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)); }
  .bg-lighten-4-l { background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); }
  .bg-darken-1 { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); }
  .bg-darken-2 { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
  .bg-darken-3 { background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  .bg-darken-4 { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); } }

.bgp-lt { background-position: left top; }

.bgp-lc { background-position: left center; }

.bgp-lb { background-position: left bottom; }

.bgp-rt { background-position: right top; }

.bgp-rc { background-position: right center; }

.bgp-rb { background-position: right bottom; }

.bgp-ct { background-position: center top; }

.bgp-cc { background-position: center center; }

.bgp-cb { background-position: center bottom; }

@media (min-width: 800px) { .bgp-lt-m { background-position: left top; }
  .bgp-lc { background-position: left center; }
  .bgp-lb { background-position: left bottom; }
  .bgp-rt { background-position: right top; }
  .bgp-rc { background-position: right center; }
  .bgp-rb { background-position: right bottom; }
  .bgp-ct { background-position: center top; }
  .bgp-cc { background-position: center center; }
  .bgp-cb { background-position: center bottom; } }

@media (min-width: 1000px) { .bgp-lt-l { background-position: left top; }
  .bgp-lc { background-position: left center; }
  .bgp-lb { background-position: left bottom; }
  .bgp-rt { background-position: right top; }
  .bgp-rc { background-position: right center; }
  .bgp-rb { background-position: right bottom; }
  .bgp-ct { background-position: center top; }
  .bgp-cc { background-position: center center; }
  .bgp-cb { background-position: center bottom; } }

.bgs-a { background-size: auto; }

.bgs-cv { background-size: cover; }

.bgs-c { background-size: contain; }

@media (min-width: 800px) { .bgs-a800px { background-size: auto; }
  .bgs-cv800px { background-size: cover; }
  .bgs-c800px { background-size: contain; } }

@media (min-width: 1000px) { .bgs-a1000px { background-size: auto; }
  .bgs-cv1000px { background-size: cover; }
  .bgs-c1000px { background-size: contain; } }

.bgr-r { background-repeat: repeat; }

.bgr-nr { background-repeat: no-repeat; }

.bgr-x { background-repeat: repeat-x; }

.bgr-y { background-repeat: repeat-y; }

@media (min-width: 800px) { .bgr-r800px { background-repeat: repeat; }
  .bgr-nr800px { background-repeat: no-repeat; }
  .bgr-x800px { background-repeat: repeat-x; }
  .bgr-y800px { background-repeat: repeat-y; } }

@media (min-width: 1000px) { .bgr-r1000px { background-repeat: repeat; }
  .bgr-nr1000px { background-repeat: no-repeat; }
  .bgr-x1000px { background-repeat: repeat-x; }
  .bgr-y1000px { background-repeat: repeat-y; } }

.bd { border-width: 0.1rem; border-style: solid; }

.bd-t { border-top-width: 0.1rem; border-top-style: solid; }

.bd-r { border-right-width: 0.1rem; border-right-style: solid; }

.bd-b { border-bottom-width: 0.1rem; border-bottom-style: solid; }

.bd-l { border-left-width: 0.1rem; border-left-style: solid; }

.bd-x { border-left-width: 0.1rem; border-left-style: solid; border-right-width: 0.1rem; border-right-style: solid; }

.bd-y { border-top-width: 0.1rem; border-top-style: solid; border-bottom-width: 0.1rem; border-bottom-style: solid; }

@media (min-width: 800px) { .bd-m { border-width: 0.1rem; border-style: solid; }
  .bd-t-m { border-top-width: 0.1rem; border-top-style: solid; }
  .bd-r-m { border-right-width: 0.1rem; border-right-style: solid; }
  .bd-b-m { border-bottom-width: 0.1rem; border-bottom-style: solid; }
  .bd-l-m { border-left-width: 0.1rem; border-left-style: solid; }
  .bd-x-m { border-left-width: 0.1rem; border-left-style: solid; border-right-width: 0.1rem; border-right-style: solid; }
  .bd-y-m { border-top-width: 0.1rem; border-top-style: solid; border-bottom-width: 0.1rem; border-bottom-style: solid; } }

@media (min-width: 1000px) { .bd-l { border-width: 0.1rem; border-style: solid; }
  .bd-t-l { border-top-width: 0.1rem; border-top-style: solid; }
  .bd-r-l { border-right-width: 0.1rem; border-right-style: solid; }
  .bd-b-l { border-bottom-width: 0.1rem; border-bottom-style: solid; }
  .bd-l-l { border-left-width: 0.1rem; border-left-style: solid; }
  .bd-x-l { border-left-width: 0.1rem; border-left-style: solid; border-right-width: 0.1rem; border-right-style: solid; }
  .bd-y-l { border-top-width: 0.1rem; border-top-style: solid; border-bottom-width: 0.1rem; border-bottom-style: solid; } }

.bd-dot { border-style: dotted; }

.bd-dash { border-style: dashed; }

.bd-solid { border-style: solid; }

@media (min-width: 800px) { .bd-dot-m { border-style: dotted; }
  .bd-dash-m { border-style: dashed; }
  .bd-solid-m { border-style: solid; } }

@media (min-width: 1000px) { .bd-dot-l { border-style: dotted; }
  .bd-dash-l { border-style: dashed; }
  .bd-solid-l { border-style: solid; } }

.bd1 { border-width: 0.05rem; }

.bd2 { border-width: 0.1rem; }

.bd3 { border-width: 0.2rem; }

.bd4 { border-width: 0.4rem; }

@media (min-width: 800px) { .bd1-m { border-width: 0.05rem; }
  .bd2-m { border-width: 0.1rem; }
  .bd3-m { border-width: 0.2rem; }
  .bd4-m { border-width: 0.4rem; } }

@media (min-width: 1000px) { .bd1-l { border-width: 0.05rem; }
  .bd2-l { border-width: 0.1rem; }
  .bd3-l { border-width: 0.2rem; }
  .bd4-l { border-width: 0.4rem; } }

.bd-rad1 { border-radius: 0.3rem; }

.bd-rad2 { border-radius: 1rem; }

.bd-rad-circle { border-radius: 50%; }

@media (min-width: 800px) { .bd-rad1-m { border-radius: 0.3rem; }
  .bd-rad2-m { border-radius: 1rem; }
  .bd-rad-circle-m { border-radius: 50%; } }

@media (min-width: 1000px) { .bd-rad1-l { border-radius: 0.3rem; }
  .bd-rad2-l { border-radius: 1rem; }
  .bd-rad-circle-l { border-radius: 50%; } }

.d-in { display: inline; }

.d-b { display: block; }

.d-inb { display: inline-block; }

.d-t { display: table; }

.d-tc { display: table-cell; }

.fl { display: flex; }

.fl-init { flex: 0 1 auto; }

.fl-none { flex: 0 0 auto; }

.fl-row { flex-direction: row; }

.fl-col { flex-direction: column; }

.fl-wrap { flex-wrap: wrap; }

.fl-nowrap { flex-wrap: nowrap; }

.fl-wrapreverse { flex-wrap: wrap-reverse; }

.fl-start { align-items: flex-start; }

.fl-end { align-items: flex-end; }

.fl-center { align-items: center; }

.fl-baseline { align-items: baseline; }

.fl-stretch { align-items: stretch; }

.fl-center-center { justify-content: center; align-items: center; }

.fl-self-start { align-self: flex-start; }

.fl-self-end { align-self: flex-end; }

.fl-self-center { align-self: center; }

.fl-self-baseline { align-self: baseline; }

.fl-self-stretch { align-self: stretch; }

.fl-self-grow { flex-grow: 1; }

.fl-self-shrink { flex-shrink: 1; }

.fl-justify-start { justify-content: start; }

.fl-justify-end { justify-content: end; }

.fl-justify-center { justify-content: center; }

.fl-justify-between { justify-content: space-between; }

.fl-justify-around { justify-content: space-around; }

.fl-content-start { align-content: flex-start; }

.fl-content-end { align-content: flex-end; }

.fl-content-center { align-content: center; }

.fl-content-between { align-content: space-between; }

.fl-content-around { align-content: space-around; }

.fl-content-stretch { align-content: stretch; }

.fl-order-0 { order: 0; }

.fl-order-1 { order: 1; }

.fl-order-2 { order: 2; }

.fl-order-3 { order: 3; }

.fl-order-4 { order: 4; }

.fl-order-5 { order: 5; }

.fl-order-6 { order: 6; }

.fl-order-7 { order: 7; }

.fl-order-8 { order: 8; }

.fl-order-9 { order: 9; }

.fl-order-10 { order: 10; }

.fl-order-11 { order: 11; }

.fl-order-12 { order: 12; }

.fl-order-first { order: 0; }

.fl-order-last { order: 999999; }

.fl-10 { flex-basis: 10%; max-width: 10%; }

.fl-20 { flex-basis: 20%; max-width: 20%; }

.fl-quarter { flex-basis: 25%; max-width: 25%; }

.fl-30 { flex-basis: 30%; max-width: 30%; }

.fl-third { flex-basis: 33.333333%; max-width: 33.333333%; }

.fl-40 { flex-basis: 40%; max-width: 40%; }

.fl-50 { flex-basis: 50%; max-width: 50%; }

.fl-60 { flex-basis: 60%; max-width: 60%; }

.fl-two-thirds { flex-basis: 66.666666%; max-width: 66.666666%; }

.fl-70 { flex-basis: 70%; max-width: 70%; }

.fl-three-quarters { flex-basis: 75%; max-width: 75%; }

.fl-80 { flex-basis: 80%; max-width: 80%; }

.fl-90 { flex-basis: 90%; max-width: 90%; }

.fl-100 { flex-basis: 100%; max-width: 100%; }

@media (min-width: 800px) { .fl-m { display: flex; }
  .fl-init-m { flex: 0 1 auto; }
  .fl-none-m { flex: 0 0 auto; }
  .fl-row-m { flex-direction: row; }
  .fl-col-m { flex-direction: column; }
  .fl-wrap-m { flex-wrap: wrap; }
  .fl-nowrap-m { flex-wrap: nowrap; }
  .fl-wrapreverse-m { flex-wrap: wrap-reverse; }
  .fl-start-m { align-items: flex-start; }
  .fl-end-m { align-items: flex-end; }
  .fl-center-m { align-items: center; }
  .fl-baseline-m { align-items: baseline; }
  .fl-stretch-m { align-items: stretch; }
  .fl-center-center-m { justify-content: center; align-items: center; }
  .fl-self-start-m { align-self: flex-start; }
  .fl-self-end-m { align-self: flex-end; }
  .fl-self-center-m { align-self: center; }
  .fl-self-baseline-m { align-self: baseline; }
  .fl-self-stretch-m { align-self: stretch; }
  .fl-self-grow { flex-grow: 1; }
  .fl-self-shrink { flex-shrink: 1; }
  .fl-justify-start-m { justify-content: start; }
  .fl-justify-end-m { justify-content: end; }
  .fl-justify-center-m { justify-content: center; }
  .fl-justify-between-m { justify-content: space-between; }
  .fl-justify-around-m { justify-content: space-around; }
  .fl-content-start-m { align-content: flex-start; }
  .fl-content-end-m { align-content: flex-end; }
  .fl-content-center-m { align-content: center; }
  .fl-content-between-m { align-content: space-between; }
  .fl-content-around-m { align-content: space-around; }
  .fl-content-stretch-m { align-content: stretch; }
  .fl-order-0-m { order: 0; }
  .fl-order-1-m { order: 1; }
  .fl-order-2-m { order: 2; }
  .fl-order-3-m { order: 3; }
  .fl-order-4-m { order: 4; }
  .fl-order-5-m { order: 5; }
  .fl-order-6-m { order: 6; }
  .fl-order-7-m { order: 7; }
  .fl-order-8-m { order: 8; }
  .fl-order-9-m { order: 9; }
  .fl-order-10-m { order: 10; }
  .fl-order-11-m { order: 11; }
  .fl-order-12-m { order: 12; }
  .fl-order-first-m { order: 0; }
  .fl-order-last-m { order: 999999; }
  .fl-10-m { flex-basis: 10%; max-width: 10%; }
  .fl-20-m { flex-basis: 20%; max-width: 20%; }
  .fl-quarter-m { flex-basis: 25%; max-width: 25%; }
  .fl-30-m { flex-basis: 30%; max-width: 30%; }
  .fl-third-m { flex-basis: 33.333333%; max-width: 33.333333%; }
  .fl-40-m { flex-basis: 40%; max-width: 40%; }
  .fl-50-m { flex-basis: 50%; max-width: 50%; }
  .fl-60-m { flex-basis: 60%; max-width: 60%; }
  .fl-two-thirds-m { flex-basis: 66.666666%; max-width: 66.666666%; }
  .fl-70-m { flex-basis: 70%; max-width: 70%; }
  .fl-three-quarters-m { flex-basis: 75%; max-width: 75%; }
  .fl-80-m { flex-basis: 80%; max-width: 80%; }
  .fl-90-m { flex-basis: 90%; max-width: 90%; }
  .fl-100-m { flex-basis: 100%; max-width: 100%; } }

@media (min-width: 1000px) { .fl-l { display: flex; }
  .fl-init-l { flex: 0 1 auto; }
  .fl-none-l { flex: 0 0 auto; }
  .fl-row-l { flex-direction: row; }
  .fl-col-l { flex-direction: column; }
  .fl-wrap-l { flex-wrap: wrap; }
  .fl-nowrap-l { flex-wrap: nowrap; }
  .fl-wrapreverse-l { flex-wrap: wrap-reverse; }
  .fl-start-l { align-items: flex-start; }
  .fl-end-l { align-items: flex-end; }
  .fl-center-l { align-items: center; }
  .fl-baseline-l { align-items: baseline; }
  .fl-stretch-l { align-items: stretch; }
  .fl-center-center-l { justify-content: center; align-items: center; }
  .fl-self-start-l { align-self: flex-start; }
  .fl-self-end-l { align-self: flex-end; }
  .fl-self-center-l { align-self: center; }
  .fl-self-baseline-l { align-self: baseline; }
  .fl-self-stretch-l { align-self: stretch; }
  .fl-self-grow { flex-grow: 1; }
  .fl-self-shrink { flex-shrink: 1; }
  .fl-justify-start-l { justify-content: start; }
  .fl-justify-end-l { justify-content: end; }
  .fl-justify-center-l { justify-content: center; }
  .fl-justify-between-l { justify-content: space-between; }
  .fl-justify-around-l { justify-content: space-around; }
  .fl-content-start-l { align-content: flex-start; }
  .fl-content-end-l { align-content: flex-end; }
  .fl-content-center-l { align-content: center; }
  .fl-content-between-l { align-content: space-between; }
  .fl-content-around-l { align-content: space-around; }
  .fl-content-stretch-l { align-content: stretch; }
  .fl-order-0-l { order: 0; }
  .fl-order-1-l { order: 1; }
  .fl-order-2-l { order: 2; }
  .fl-order-3-l { order: 3; }
  .fl-order-4-l { order: 4; }
  .fl-order-5-l { order: 5; }
  .fl-order-6-l { order: 6; }
  .fl-order-7-l { order: 7; }
  .fl-order-8-l { order: 8; }
  .fl-order-9-l { order: 9; }
  .fl-order-10-l { order: 10; }
  .fl-order-11-l { order: 11; }
  .fl-order-12-l { order: 12; }
  .fl-order-first-l { order: 0; }
  .fl-order-last-l { order: 999999; }
  .fl-10-l { flex-basis: 10%; max-width: 10%; }
  .fl-20-l { flex-basis: 20%; max-width: 20%; }
  .fl-quarter-l { flex-basis: 25%; max-width: 25%; }
  .fl-30-l { flex-basis: 30%; max-width: 30%; }
  .fl-third-l { flex-basis: 33.333333%; max-width: 33.333333%; }
  .fl-40-l { flex-basis: 40%; max-width: 40%; }
  .fl-50-l { flex-basis: 50%; max-width: 50%; }
  .fl-60-l { flex-basis: 60%; max-width: 60%; }
  .fl-two-thirds-l { flex-basis: 66.666666%; max-width: 66.666666%; }
  .fl-70-l { flex-basis: 70%; max-width: 70%; }
  .fl-three-quarters-l { flex-basis: 75%; max-width: 75%; }
  .fl-80-l { flex-basis: 80%; max-width: 80%; }
  .fl-90-l { flex-basis: 90%; max-width: 90%; }
  .fl-100-l { flex-basis: 100%; max-width: 100%; } }

.m0 { margin: 0; }

.m1 { margin: 0.5rem; }

.m2 { margin: 1rem; }

.m3 { margin: 2rem; }

.m4 { margin: 3rem; }

.m5 { margin: 4rem; }

.mauto { margin: 0 auto; }

.mt0 { margin-top: 0; }

.mt1 { margin-top: 0.5rem; }

.mt2 { margin-top: 1rem; }

.mt3 { margin-top: 2rem; }

.mt4 { margin-top: 3rem; }

.mt5 { margin-top: 4rem; }

.mr0 { margin-right: 0; }

.mr1 { margin-right: 0.5rem; }

.mr2 { margin-right: 1rem; }

.mr3 { margin-right: 2rem; }

.mr4 { margin-right: 3rem; }

.mr5 { margin-right: 4rem; }

.mb0 { margin-bottom: 0; }

.mb1 { margin-bottom: 0.5rem; }

.mb2 { margin-bottom: 1rem; }

.mb3 { margin-bottom: 2rem; }

.mb4 { margin-bottom: 3rem; }

.mb5 { margin-bottom: 4rem; }

.ml0 { margin-left: 0; }

.ml1 { margin-left: 0.5rem; }

.ml2 { margin-left: 1rem; }

.ml3 { margin-left: 2rem; }

.ml4 { margin-left: 3rem; }

.ml5 { margin-left: 4rem; }

.mx0 { margin-left: 0; margin-right: 0; }

.mx1 { margin-left: 0.5rem; margin-right: 0.5rem; }

.mx2 { margin-left: 1rem; margin-right: 1rem; }

.mx3 { margin-left: 2rem; margin-right: 2rem; }

.mx4 { margin-left: 3rem; margin-right: 3rem; }

.mx5 { margin-left: 4rem; margin-right: 4rem; }

.my0 { margin-top: 0; margin-bottom: 0; }

.my1 { margin-top: 0.5rem; margin-bottom: 0; }

.my2 { margin-top: 1rem; margin-bottom: 0; }

.my3 { margin-top: 2rem; margin-bottom: 0; }

.my4 { margin-top: 3rem; margin-bottom: 0; }

.my5 { margin-top: 4rem; margin-bottom: 0; }

.mxauto { margin-left: auto; margin-right: auto; }

.mlauto { margin-left: auto; }

.mrauto { margin-right: auto; }

@media (min-width: 800px) { .m0-m { margin: 0; }
  .m1-m { margin: 0.5rem; }
  .m2-m { margin: 1rem; }
  .m3-m { margin: 2rem; }
  .m4-m { margin: 3rem; }
  .m5-m { margin: 4rem; }
  .mauto-m { margin: 0 auto; }
  .mt0-m { margin-top: 0; }
  .mt1-m { margin-top: 0.5rem; }
  .mt2-m { margin-top: 1rem; }
  .mt3-m { margin-top: 2rem; }
  .mt4-m { margin-top: 3rem; }
  .mt5-m { margin-top: 4rem; }
  .mr0-m { margin-right: 0; }
  .mr1-m { margin-right: 0.5rem; }
  .mr2-m { margin-right: 1rem; }
  .mr3-m { margin-right: 2rem; }
  .mr4-m { margin-right: 3rem; }
  .mr5-m { margin-right: 4rem; }
  .mb0-m { margin-bottom: 0; }
  .mb1-m { margin-bottom: 0.5rem; }
  .mb2-m { margin-bottom: 1rem; }
  .mb3-m { margin-bottom: 2rem; }
  .mb4-m { margin-bottom: 3rem; }
  .mb5-m { margin-bottom: 4rem; }
  .ml0-m { margin-left: 0; }
  .ml1-m { margin-left: 0.5rem; }
  .ml2-m { margin-left: 1rem; }
  .ml3-m { margin-left: 2rem; }
  .ml4-m { margin-left: 3rem; }
  .ml5-m { margin-left: 4rem; }
  .mx0-m { margin-left: 0; margin-right: 0; }
  .mx1-m { margin-left: 0.5rem; margin-right: 0.5rem; }
  .mx2-m { margin-left: 1rem; margin-right: 1rem; }
  .mx3-m { margin-left: 2rem; margin-right: 2rem; }
  .mx4-m { margin-left: 3rem; margin-right: 3rem; }
  .mx5-m { margin-left: 4rem; margin-right: 4rem; }
  .my0-m { margin-top: 0; margin-bottom: 0; }
  .my1-m { margin-top: 0.5rem; margin-bottom: 0; }
  .my2-m { margin-top: 1rem; margin-bottom: 0; }
  .my3-m { margin-top: 2rem; margin-bottom: 0; }
  .my4-m { margin-top: 3rem; margin-bottom: 0; }
  .my5-m { margin-top: 4rem; margin-bottom: 0; }
  .mxauto { margin-left: auto; margin-right: auto; }
  .mlauto { margin-left: auto; }
  .mrauto { margin-right: auto; } }

@media (min-width: 1000px) { .m0-l { margin: 0; }
  .m1-l { margin: 0.5rem; }
  .m2-l { margin: 1rem; }
  .m3-l { margin: 2rem; }
  .m4-l { margin: 3rem; }
  .m5-l { margin: 4rem; }
  .mauto-l { margin: 0 auto; }
  .mt0-l { margin-top: 0; }
  .mt1-l { margin-top: 0.5rem; }
  .mt2-l { margin-top: 1rem; }
  .mt3-l { margin-top: 2rem; }
  .mt4-l { margin-top: 3rem; }
  .mt5-l { margin-top: 4rem; }
  .mr0-l { margin-right: 0; }
  .mr1-l { margin-right: 0.5rem; }
  .mr2-l { margin-right: 1rem; }
  .mr3-l { margin-right: 2rem; }
  .mr4-l { margin-right: 3rem; }
  .mr5-l { margin-right: 4rem; }
  .mb0-l { margin-bottom: 0; }
  .mb1-l { margin-bottom: 0.5rem; }
  .mb2-l { margin-bottom: 1rem; }
  .mb3-l { margin-bottom: 2rem; }
  .mb4-l { margin-bottom: 3rem; }
  .mb5-l { margin-bottom: 4rem; }
  .ml0-l { margin-left: 0; }
  .ml1-l { margin-left: 0.5rem; }
  .ml2-l { margin-left: 1rem; }
  .ml3-l { margin-left: 2rem; }
  .ml4-l { margin-left: 3rem; }
  .ml5-l { margin-left: 4rem; }
  .mx0-l { margin-left: 0; margin-right: 0; }
  .mx1-l { margin-left: 0.5rem; margin-right: 0.5rem; }
  .mx2-l { margin-left: 1rem; margin-right: 1rem; }
  .mx3-l { margin-left: 2rem; margin-right: 2rem; }
  .mx4-l { margin-left: 3rem; margin-right: 3rem; }
  .mx5-l { margin-left: 4rem; margin-right: 4rem; }
  .my0-l { margin-top: 0; margin-bottom: 0; }
  .my1-l { margin-top: 0.5rem; margin-bottom: 0; }
  .my2-l { margin-top: 1rem; margin-bottom: 0; }
  .my3-l { margin-top: 2rem; margin-bottom: 0; }
  .my4-l { margin-top: 3rem; margin-bottom: 0; }
  .my5-l { margin-top: 4rem; margin-bottom: 0; }
  .mxauto { margin-left: auto; margin-right: auto; }
  .mlauto { margin-left: auto; }
  .mrauto { margin-right: auto; } }

.p0 { padding: 0; }

.p1 { padding: 0.5rem; }

.p2 { padding: 1rem; }

.p3 { padding: 2rem; }

.p4 { padding: 3rem; }

.p5 { padding: 4rem; }

.pauto { padding: 0 auto; }

.pt0 { padding-top: 0; }

.pt1 { padding-top: 0.5rem; }

.pt2 { padding-top: 1rem; }

.pt3 { padding-top: 2rem; }

.pt4 { padding-top: 3rem; }

.pt5 { padding-top: 4rem; }

.pr0 { padding-right: 0; }

.pr1 { padding-right: 0.5rem; }

.pr2 { padding-right: 1rem; }

.pr3 { padding-right: 2rem; }

.pr4 { padding-right: 3rem; }

.pr5 { padding-right: 4rem; }

.pb0 { padding-bottom: 0; }

.pb1 { padding-bottom: 0.5rem; }

.pb2 { padding-bottom: 1rem; }

.pb3 { padding-bottom: 2rem; }

.pb4 { padding-bottom: 3rem; }

.pb5 { padding-bottom: 4rem; }

.pl0 { padding-left: 0; }

.pl1 { padding-left: 0.5rem; }

.pl2 { padding-left: 1rem; }

.pl3 { padding-left: 2rem; }

.pl4 { padding-left: 3rem; }

.pl5 { padding-left: 4rem; }

.px0 { padding-left: 0; padding-right: 0; }

.px1 { padding-left: 0.5rem; padding-right: 0.5rem; }

.px2 { padding-left: 1rem; padding-right: 1rem; }

.px3 { padding-left: 2rem; padding-right: 2rem; }

.px4 { padding-left: 3rem; padding-right: 3rem; }

.px5 { padding-left: 4rem; padding-right: 4rem; }

.py0 { padding-top: 0; padding-bottom: 0; }

.py1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.py2 { padding-top: 1rem; padding-bottom: 1rem; }

.py3 { padding-top: 2rem; padding-bottom: 2rem; }

.py4 { padding-top: 3rem; padding-bottom: 3rem; }

.py5 { padding-top: 4rem; padding-bottom: 4rem; }

@media (min-width: 800px) { .p0-m { padding: 0; }
  .p1-m { padding: 0.5rem; }
  .p2-m { padding: 1rem; }
  .p3-m { padding: 2rem; }
  .p4-m { padding: 3rem; }
  .p5-m { padding: 4rem; }
  .pauto-m { padding: 0 auto; }
  .pt0-m { padding-top: 0; }
  .pt1-m { padding-top: 0.5rem; }
  .pt2-m { padding-top: 1rem; }
  .pt3-m { padding-top: 2rem; }
  .pt4-m { padding-top: 3rem; }
  .pt5-m { padding-top: 4rem; }
  .pr0-m { padding-right: 0; }
  .pr1-m { padding-right: 0.5rem; }
  .pr2-m { padding-right: 1rem; }
  .pr3-m { padding-right: 2rem; }
  .pr4-m { padding-right: 3rem; }
  .pr5-m { padding-right: 4rem; }
  .pb0-m { padding-bottom: 0; }
  .pb1-m { padding-bottom: 0.5rem; }
  .pb2-m { padding-bottom: 1rem; }
  .pb3-m { padding-bottom: 2rem; }
  .pb4-m { padding-bottom: 3rem; }
  .pb5-m { padding-bottom: 4rem; }
  .pl0-m { padding-left: 0; }
  .pl1-m { padding-left: 0.5rem; }
  .pl2-m { padding-left: 1rem; }
  .pl3-m { padding-left: 2rem; }
  .pl4-m { padding-left: 3rem; }
  .pl5-m { padding-left: 4rem; }
  .px0-m { padding-left: 0; padding-right: 0; }
  .px1-m { padding-left: 0.5rem; padding-right: 0.5rem; }
  .px2-m { padding-left: 1rem; padding-right: 1rem; }
  .px3-m { padding-left: 2rem; padding-right: 2rem; }
  .px4-m { padding-left: 3rem; padding-right: 3rem; }
  .px5-m { padding-left: 4rem; padding-right: 4rem; }
  .py0-m { padding-top: 0; padding-bottom: 0; }
  .py1-m { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .py2-m { padding-top: 1rem; padding-bottom: 1rem; }
  .py3-m { padding-top: 2rem; padding-bottom: 2rem; }
  .py4-m { padding-top: 3rem; padding-bottom: 3rem; }
  .py5-m { padding-top: 4rem; padding-bottom: 4rem; } }

@media (min-width: 1000px) { .p0-l { padding: 0; }
  .p1-l { padding: 0.5rem; }
  .p2-l { padding: 1rem; }
  .p3-l { padding: 2rem; }
  .p4-l { padding: 3rem; }
  .p5-l { padding: 4rem; }
  .pauto-l { padding: 0 auto; }
  .pt0-l { padding-top: 0; }
  .pt1-l { padding-top: 0.5rem; }
  .pt2-l { padding-top: 1rem; }
  .pt3-l { padding-top: 2rem; }
  .pt4-l { padding-top: 3rem; }
  .pt5-l { padding-top: 4rem; }
  .pr0-l { padding-right: 0; }
  .pr1-l { padding-right: 0.5rem; }
  .pr2-l { padding-right: 1rem; }
  .pr3-l { padding-right: 2rem; }
  .pr4-l { padding-right: 3rem; }
  .pr5-l { padding-right: 4rem; }
  .pb0-l { padding-bottom: 0; }
  .pb1-l { padding-bottom: 0.5rem; }
  .pb2-l { padding-bottom: 1rem; }
  .pb3-l { padding-bottom: 2rem; }
  .pb4-l { padding-bottom: 3rem; }
  .pb5-l { padding-bottom: 4rem; }
  .pl0-l { padding-left: 0; }
  .pl1-l { padding-left: 0.5rem; }
  .pl2-l { padding-left: 1rem; }
  .pl3-l { padding-left: 2rem; }
  .pl4-l { padding-left: 3rem; }
  .pl5-l { padding-left: 4rem; }
  .px0-l { padding-left: 0; padding-right: 0; }
  .px1-l { padding-left: 0.5rem; padding-right: 0.5rem; }
  .px2-l { padding-left: 1rem; padding-right: 1rem; }
  .px3-l { padding-left: 2rem; padding-right: 2rem; }
  .px4-l { padding-left: 3rem; padding-right: 3rem; }
  .px5-l { padding-left: 4rem; padding-right: 4rem; }
  .py0-l { padding-top: 0; padding-bottom: 0; }
  .py1-l { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .py2-l { padding-top: 1rem; padding-bottom: 1rem; }
  .py3-l { padding-top: 2rem; padding-bottom: 2rem; }
  .py4-l { padding-top: 3rem; padding-bottom: 3rem; }
  .py5-l { padding-top: 4rem; padding-bottom: 4rem; } }

.w1 { width: 2.4rem; }

.w2 { width: 4.8rem; }

.w3 { width: 9.6rem; }

.w4 { width: 12rem; }

.w5 { width: 24rem; }

.w6 { width: 36rem; }

.w-full { width: 100%; }

.w-10 { width: 10%; }

.w-20 { width: 20%; }

.w-25 { width: 25%; }

.w-30 { width: 30%; }

.w-40 { width: 40%; }

.w-50 { width: 50%; }

.w-60 { width: 60%; }

.w-70 { width: 70%; }

.w-75 { width: 75%; }

.w-80 { width: 80%; }

.w-90 { width: 90%; }

.w-100 { width: 100%; }

@media (min-width: 800px) { .w1-m { width: 2.4rem; }
  .w2-m { width: 4.8rem; }
  .w3-m { width: 9.6rem; }
  .w4-m { width: 12rem; }
  .w5-m { width: 24rem; }
  .w6-m { width: 36rem; }
  .w-full-m { width: 100%; }
  .w-10-m { width: 10%; }
  .w-20-m { width: 20%; }
  .w-25-m { width: 25%; }
  .w-30-m { width: 30%; }
  .w-40-m { width: 40%; }
  .w-50-m { width: 50%; }
  .w-60-m { width: 60%; }
  .w-70-m { width: 70%; }
  .w-75-m { width: 75%; }
  .w-80-m { width: 80%; }
  .w-90-m { width: 90%; }
  .w-100-m { width: 100%; } }

@media (min-width: 1000px) { .w1-l { width: 2.4rem; }
  .w2-l { width: 4.8rem; }
  .w3-l { width: 9.6rem; }
  .w4-l { width: 12rem; }
  .w5-l { width: 24rem; }
  .w6-l { width: 36rem; }
  .w-full-l { width: 100%; }
  .w-10-l { width: 10%; }
  .w-20-l { width: 20%; }
  .w-25-l { width: 25%; }
  .w-30-l { width: 30%; }
  .w-40-l { width: 40%; }
  .w-50-l { width: 50%; }
  .w-60-l { width: 60%; }
  .w-70-l { width: 70%; }
  .w-75-l { width: 75%; }
  .w-80-l { width: 80%; }
  .w-90-l { width: 90%; }
  .w-100-l { width: 100%; } }

.h1 { height: 2.4rem; }

.h2 { height: 4.8rem; }

.h3 { height: 9.6rem; }

.h4 { height: 12rem; }

.h5 { height: 24rem; }

.h6 { height: 36rem; }

.h-full { height: 100%; }

@media (min-width: 800px) { .h1-m { height: 2.4rem; }
  .h2-m { height: 4.8rem; }
  .h3-m { height: 9.6rem; }
  .h4-m { height: 12rem; }
  .h5-m { height: 24rem; }
  .h6-m { height: 36rem; }
  .h-full-m { height: 100%; } }

@media (min-width: 1000px) { .h1-l { height: 2.4rem; }
  .h2-l { height: 4.8rem; }
  .h3-l { height: 9.6rem; }
  .h4-l { height: 12rem; }
  .h5-l { height: 24rem; }
  .h6-l { height: 36rem; }
  .h-full-l { height: 100%; } }

.td-none { text-decoration: none; }

.td-underline { text-decoration: underline; }

.td-overline { text-decoration: overline; }

.td-strike { text-decoration: line-through; }

@media (min-width: 800px) { .td-none-m { text-decoration: none; }
  .td-underline-m { text-decoration: underline; }
  .td-overline-m { text-decoration: overline; }
  .td-strike-m { text-decoration: line-through; } }

@media (min-width: 1000px) { .td-none-l { text-decoration: none; }
  .td-underline-l { text-decoration: underline; }
  .td-overline-l { text-decoration: overline; }
  .td-strike-l { text-decoration: line-through; } }

.ff-mono { font-family: 'Space Mono', monospace; }

.ff-serif { font-family: 'Cormorant Garamond', serif; }

.ff-sans { font-family: 'Lato', sans-serif; }

.list { list-style: none; }

.list-bullet { list-style: disc; }

.list-inline { display: flex; flex-direction: row; }

.fs8 { font-size: 6.8rem; }

.fs7 { font-size: 4.8rem; }

.fs6 { font-size: 3.5rem; }

.fs5 { font-size: 2.5rem; }

.fs4 { font-size: 2rem; }

.fs3 { font-size: 1.5rem; }

.fs2 { font-size: 1.2rem; }

.fs1 { font-size: 0.8rem; }

@media (min-width: 800px) { .fs8-m { font-size: 6.8rem; }
  .fs7-m { font-size: 4.8rem; }
  .fs6-m { font-size: 3.5rem; }
  .fs5-m { font-size: 2.5rem; }
  .fs4-m { font-size: 2rem; }
  .fs3-m { font-size: 1.5rem; }
  .fs2-m { font-size: 1.2rem; }
  .fs1-m { font-size: 0.8rem; } }

@media (min-width: 1000px) { .fs8-l { font-size: 6.8rem; }
  .fs7-l { font-size: 4.8rem; }
  .fs6-l { font-size: 3.5rem; }
  .fs5-l { font-size: 2.5rem; }
  .fs4-l { font-size: 2rem; }
  .fs3-l { font-size: 1.5rem; }
  .fs2-l { font-size: 1.2rem; }
  .fs1-l { font-size: 0.8rem; } }

.tt-none { text-transform: none; }

.tt-caps { text-transform: capitalize; }

.tt-upper { text-transform: uppercase; }

.tt-lower { text-transform: lowercase; }

@media (min-width: 800px) { .tt-none { text-transform: none; }
  .tt-caps { text-transform: capitalize; }
  .tt-upper { text-transform: uppercase; }
  .tt-lower { text-transform: lowercase; } }

@media (min-width: 1000px) { .tt-none { text-transform: none; }
  .tt-caps { text-transform: capitalize; }
  .tt-upper { text-transform: uppercase; }
  .tt-lower { text-transform: lowercase; } }

.fw-l { font-weight: 300; }

.fw-m { font-weight: 400; }

.fw-sb { font-weight: 500; }

.fw-b { font-weight: 600; }

.lh0 { line-height: 0; }

.lh1 { line-height: 1; }

.lh2 { line-height: 2; }

.lh3 { line-height: 3; }

@media (min-width: 800px) { .lh0 { line-height: 0; }
  .lh1 { line-height: 1; }
  .lh2 { line-height: 2; }
  .lh3 { line-height: 3; } }

@media (min-width: 1000px) { .lh0 { line-height: 0; }
  .lh1 { line-height: 1; }
  .lh2 { line-height: 2; }
  .lh3 { line-height: 3; } }

.pos-st { position: static; }

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.pos-fxd { position: fixed; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { line-height: 1.5; }

.wrapper { margin: 0 auto; width: 90%; max-width: 900px; }

p, ol, ul, dl { margin-top: 1.2rem; margin-bottom: 1.2rem; }

h1, h2, h3, h4, h5, h6 { margin-top: 2.4rem; margin-bottom: 1.2rem; }
